<h1><%= @property.address %></h1>

<h3>Price:</h3>
    <%= "$ #{@property.price}" %>
    <br>
<h3>Year Sold:</h3>
    <%= @property.year_sold %>
    <br>
<h3>Acreage:</h3>
    <%= @property.acreage %>
    <br>

<a href="/properties/<%= @property.id %>/edit">
    <button type="submit" value="Edit">Edit</button>
</a>