<h1><%= @property.address %></h1>

<h3>Price:</h3>
    <%= "$ #{@property.price}" %>
    <br><br>
<h3>Date Sold:</h3>
    <%= @property.date_sold %>
    <br><br>
<h3>Acreage:</h3>
    <%= @property.acreage %>
    <br><br>

<% if current_user == @property.owner %>
    <a href="/properties/<%= @property.id %>/edit">
        <button type="submit">Edit</button>
    </a>
    <form action="/properties/<%= @property.id %>" method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <button type="submit">Delete</button>
    </form>
<% end %>